<<<<<<< HEAD
<h1>Edit Book</h1>

<%= form_with(model: @book, local: true) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :author %>
  <%= form.text_field :author %>

  <%= form.label :price %>
  <%= form.number_field :price, step: 0.01 %>

  <%= form.label :published_date %>
  <%= form.date_select :published_date %>

  <%= form.submit 'Update Book' %>
<% end %>

<%= link_to 'Back to Home', books_path %>

=======
<h1>Editing book</h1>

<%= render "form", book: @book %>

<br>

<div>
  <%= link_to "Show this book", @book %> |
  <%= link_to "Back to books", books_path %>
</div>
>>>>>>> a7d1a16c8a5c5666dd329ada4f6756b41bf0480e
