<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>BookCollection</title>
=======
    <title>TestApp</title>
>>>>>>> a7d1a16c8a5c5666dd329ada4f6756b41bf0480e
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
